*{
margin:0;
padding:0;
box-sizing: border-box
}

body{
	margin:40px;
}

#cold-rem{
	margin:20px;
	width:76%;
	display: inline-block;
	position: relative;
}

#listOfRemedies{
	margin:70px;
	padding:30px;
	margin-bottom: 80px;
	position:relative;
	background-color:#FEFEFE;
	border:2px solid black;
}
.description{
	display:none;
	width:40%;
}

.description.active{
	position: relative;
	left: 35%;
	width: 70%;
	display:inline-block;
	margin:70px;
	padding:30px;
	margin-bottom: 80px;
	position:relative;
	background-color:#FEFEFE;
	border:2px solid black;
}


.name{
	font-size:30px;
}

.rememdy{
	display: inline-block;
	background-color: #FEFEFE;
}